############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Node
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################
# Build output
############################
dist/
build/
out/

############################
# Environment variables
############################
.env
.env.*
!.env.example

############################
# Logs
############################
logs/
*.log

############################
# TypeScript
############################
*.tsbuildinfo

############################
# Docker
############################
docker-data/

############################
# IDE
############################

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

############################
# Coverage
############################
coverage/

############################
# Temporary files
############################
tmp/
temp/
*.swp
*.swo

############################
# JetBrains
############################
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
httpRequests/
dataSources/
dataSources.local.xml

# Lambda index.mjs
Lambda.md